EXPO_PUBLIC_ELEVENLABS_API_KEY=sk_xxxx
EXPO_PUBLIC_GEMINI_API_KEY=xxx
EXPO_PUBLIC_POSTHOG_API_KEY=phc_xxx
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
EXPO_PUBLIC_GEMINI_INPUT_COST_PER_MILLION=0.10
EXPO_PUBLIC_GEMINI_OUTPUT_COST_PER_MILLION=0.40
EXPO_PUBLIC_ELEVENLABS_STT_COST_PER_HOUR=0.22